ssh:
  # The hostname (or IP) and SSH port of the router.
  hostname: 'router:22'

  # The username to use to ssh to the router.
  #
  # Note that you need to ssh as `root` if you want to have the program to show the firewall logs,
  # since the firewall log file is owned by `root:wheel` by default. If you don't need the firewall logs,
  # remove that part of the program, and change this to any limited user with shell access instead.
  username: 'root'


# Built-in services to monitor.
#
# Services from installed packages will be automatically detected and should not be listed here.
builtin_services:
- 'dhcpd'
- 'ntpd'
- 'radvd'
- 'sshd'
- 'syslogd'
- 'unbound'
