ssh:
  # The hostname (or IP) and SSH port of the router.
  hostname: 'router:22'

  # The username to use to ssh to the router.
  #
  # Note that you need to ssh as `root` if you want to have the program to show the firewall logs,
  # since the firewall log file is owned by `root:wheel` by default. If you don't need the firewall logs,
  # remove that part of the program, and change this to any limited user with shell access instead.
  username: 'root'


# Services to monitor.
services:
  # Built-in services to monitor.
  builtin:
  - 'dhcpd'
  - 'ntpd'
  - 'radvd'
  - 'sshd'
  - 'syslogd'
  - 'unbound'

  # Custom services to monitor. The pidfile for each entry is optional.
  #
  # Services from installed packages will be automatically detected and should not be listed here.
  custom:
  - name: 'tayga'
    executable: 'tayga'
    pidfile: '/var/run/tayga.pid'
